body {
    padding: 10px;
    
    
}


.products .card {
    margin-top: 20px;
    transition: 1s ease-in-out;
}

.products .card .my-img {
    max-width: 50%;
}

@media (max-width: 991px) {
    .products .card {
        flex-direction: column;
        text-align: center;
    }
}


.card a {
    margin-bottom: 10px;
}


