{% extends "auctions/layout.html" %}
{% block body %}

{% if message %}
<div class="alert alert-danger" role="alert">
	{{message}}
</div>
{% endif %}
<div class="listing row">
	<div class="image col-lg-6">
		<div class="img-container">
			<img src="{{listing.imageURL}}" alt="" style="max-width: 60%">
		</div>
		<div class="comments">
			<h3>Comments</h3>
			{% if comments %}
			<ul>
			{% for comment in comments %}
				<li>{{comment}}</li>
			{% endfor %}
			</ul>
			{% endif %}
			
			{% if not listing.buyer %}
				<form action="{% url 'comment' listing.id %}" method="post" autocomplete="off">
					{% csrf_token %}
					{{comment}}
					<button class="btn btn-primary" type="submit">Post a comment</button>
				</form>
			{% endif %}
		</div>
	</div>
	<form class="col-lg-6" action="{% url 'bid' listing.id%}" method="post">
		{% csrf_token %}
		<h2>{{listing.title}}</h2>
		<a href="{% url 'watchlist' listing.id %}">
			{% if user in watchers%}
				Remove from watchlist
			{% else %}
				Add to watchlist
			{% endif %}
		</a>
		{% if listing.creator == user and listing.isActive %}
			<button type="button" class="btn btn-primary">
				<a style="color: #FFF" href="{% url 'close_bid' listing.id %}">
					Close
				</a>
			</button>
		{% endif %}
		<p>{{listing.description}}</p>
		<h4>Current Bid:<span style="color: rgb(25, 207, 25)">
			{% if listing.currentPrice %}
				${{listing.currentPrice}}
			{% else %}
				${{listing.startingPrice}}
			{% endif %}
		</span> 
			
		</h4>
		{% if listing.isActive %}
			{{bid}}
			<input type="submit" class="btn btn-primary" value="Make a bid">
		{% else %}
			<div class="alert alert-primary">Closed!</div>
		{% endif %}
		<div style="font-weight: bold;">Posted By: <span style="font-style: italic; font-weight: normal">{{listing.creator}}</span></div>
		{% if listing.isActive %}
			<div style="font-weight: bold;">Highest Bid: <span style="font-style: italic; font-weight: normal">
			{% if last_bidder %}
				{{last_bidder}}
			{% else %}
				"Be the first to bid!"
			{% endif %}
		</span></div> 
		{% endif %}


		{% if listing.buyer and not user == listing.buyer %}
			<div>Winner: {{listing.buyer}}</div>
		{% elif listing.buyer and user == listing.buyer %}
			<div>You Won!</div>			
		{% endif %}

		<div>
			Category: <a href="{% url 'category' listing.category.id %}">
				{{listing.category}}
			</a>
		</div>
		<div style="color: #666; font-size: 12px">
			Created : {{listing.creationDate}}
		</div>
	</form>
</div>
{% endblock %}